@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('/fonts/JetBrainsMonoNerdFont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0d0d0d;
  --foreground: #ededed;
  --font-jetbrains-mono-nerd: 'JetBrains Mono Nerd Font', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono-nerd);
}
